<% include partials/head.ejs %>
<section class="profile">
    <% include partials/admin-panel.ejs %>
    <main class="dataTable">
    <h1><%= title %></h1>
    <table class="articleListTable">
        <tr class="tableCap">
            <td>Brugernavn</td>
            <td>Email</td>

        </tr>
            <% results.forEach( result =>{ %>
                <tr>
                    <td><%= result.username %></td>
                    <td><%= result.email %></td>
                    <td><a href="/admin/brugere/<%= result.id %>"><button class="aBtn">Rediger</button></a></td>
                    <td><button class="delBtn delBtnArticle" data-id="<%= result.id %>">Slet</button></td>
                </tr>
            <% }) %>
        </table>
     
     
    </main> 
    </section>

<script>
        document.addEventListener('DOMContentLoaded', () =>{
            const DelBtn = document.querySelectorAll('.delBtnArticle');
            DelBtn.forEach(btn => {
               btn.addEventListener('click', 
                event => {
        
                    const id = event.target.dataset.id;
        
                    fetch(`/admin/brugere/${id}`, {
                        'method': 'DELETE'
                    })
                    .then(response => {
                        if(response.status === 200){
                            window.location.reload();
                        }
                    });
        
                }); 
            });
        
        
        
        });
</script>

<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>