<% include partials/head.ejs %>
<section class="profile">
    <% include partials/admin-panel.ejs %>

<main id="newArticle">
<h1><%= title %></h1>
<form action="/admin/brugere/<%= results.id %>" method="patch" class="editUserForm" id="newArticleForm" autocomplete="off">
	<div class="inputGroup">
		<label>Brugernavn
			<input type="text" name="username" value="<%= results.username %>" disabled>
		</label>
	</div>
	<div class="inputGroup">
		<label>Fornavn
			<input type="text" name="firstname" value="<%= results.firstname %>">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Efternavn
			<input type="text" name="lastname" value="<%= results.lastname %>">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Beskrivelse
			<textarea name="bio" rows="5"><%= results.bio %></textarea>
		</label>
    </div>
    
        <label>
            Bruger rolle
            <select name='role'>
                <option value=50>Bruger</option>
                <option value=90>Admin</option>
                <option value=100>Super admin</option>
            </select>
        </label>
	<button type="submit">Gem</button>
</form>
    </main> 
</section>

<script>
        const form = document.querySelector('.editUserForm');
        
        form.addEventListener('submit', event => {
        event.preventDefault();
        let option = {
            cache : 'no-cache', 
            headers : {
                'content-type' : 'application/json'
            },
            method : 'PATCH',
            mode : 'cors',
            redirect : 'follow',
            referrer : 'no-referrer',
            body : JSON.stringify({
                firstname : form.firstname.value,
                lastname : form.lastname.value,
                bio : form.bio.value,
                role : form.role.value

            })
        };

        const id = window.location.pathname.split('/').pop();
        const url = `/admin/brugere/${id}`;

        console.log(id);
        console.log(url);
        
        fetch(url, option)
        .then(response => {
            if(response.status === 200){
                console.log('yes we can');
                window.location.href = `http://localhost:4041/admin/brugere`
            }else{
                console.log('nej');
            }
        }); 
    });
                
        
</script>


<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>